<form method="POST" action="/prehistoric_creatures">

    <label for="phcType">Type</label>
    <input id="phcType" type="text" name="type"></input>
  
    <label for="phcUrl">Url</label>
    <input id="phcUrl" type="text" name="img_url"></input>
  
    <input type="submit"></input>
  </form>