<form method="POST" action="/prehistoric_creatures">
    <label for="phcType">Type</label>
    <input id="phcType" type="text" name="type"></input>
  
    <label for="phcName">Name</label>
    <input id="phcName" type="text" name="name"></input>
  
    <input type="submit"></input>
  </form>